{% extends 'controleimp/base.html' %}

{% block content %}
    <table class="tabela">
        <tr>
            <th>Responsável</th>
            <th>Cliente</th>
            <th>Número</th>
            <th>Data</th>
            <th>Moeda</th>
            <th>Valor total</th>
            <th>Termo</th>
        </tr>

        {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.author }}</td>
                <td>{{ pedido.cliente }}</td>
                <td>{{ pedido.numero }}</td>
                <td>{{ pedido.data }}</td>
                <td>{{ pedido.moeda }}</td>
                <td>{{ pedido.valor }}</td>
                <td>{{ pedido.termo }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}