{% extends 'controleimp/base.html' %}

{% block content %}
    <a href="{% url 'pedidos_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    <br>
    <table class="tabela">
        <tr>
            <th>Responsável</th>
            <th>Cliente</th>
            <th>Número</th>
            <th>Data</th>
            <th>Moeda</th>
            <th>Valor total</th>
            <th>Termo</th>
        </tr>
            <tr>
                <a class="btn btn-default" href="{% url 'pedidos_edit' pk=pedido.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default" href="{% url 'pedidos_remove' pk=pedido.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <td>{{ pedido.author }}</td>
                <td>{{ pedido.cliente }}</td>
                <td>{{ pedido.numero }}</td>
                <td>{{ pedido.data|date:"d/m/y"  }}</td>
                <td>{{ pedido.moeda }}</td>
                <td>{{ pedido.valor }}</td>
                <td>{{ pedido.termo }}</td>
            </tr>
    </table>
{% endblock %}