{% extends 'controleimp/base.html' %}

{% block content %}
    <div>
        <a href="{% url 'pedidos_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    <br>
    <br>
    <br>
    </div>
    <table class="tabela">
        <tr>
            <th>Responsável</th>
            <th>Cliente</th>
            <th>Número</th>
            <th>Data</th>
            <th>Moeda</th>
            <th>Valor total</th>
            <th>Termo</th>
        </tr>

        {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.author }}</td>
                <td>{{ pedido.cliente }}</td>
                <td><a href="{% url "pedidos_detail" pk=pedido.pk %}">{{ pedido.numero }}</a></td>
                <td>{{ pedido.data|date:"d/m/y" }}</td>
                <td>{{ pedido.moeda }}</td>
                <td>{{ pedido.valor }}</td>
                <td>{{ pedido.termo }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}