{% extends 'controleimp/base.html' %}

{% block content %}
    <a href="{% url 'termo_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    <br>
    <table class="tabela">
        <tr>
            <th>Dias</th>
        </tr>


            <tr>
                <a class="btn btn-default" href="{% url 'termo_edit' pk=termo.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default" href="{% url 'termo_remove' pk=termo.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <td>{{ termo.termo}}</td>
            </tr>

    </table>
{% endblock %}